body{
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;}

/* .common{position: absolute;} */

/* .header{top: 15px; left: 15px; right: 15px; height: 25px;} */
/* .main{top: 45px; left: 15px; right: 15px; height: 1200px;} */
/* .footer{top: 1250px; left: 15px; right: 15px; height: 25px;} */